body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fc;
}

.inquiry-container {
  font-family: 'Poppins', sans-serif;
}

/* Dialog Header */
.inquiry-dialog .p-dialog-header {
background: linear-gradient(90deg, #3bb6ba, #0e373e) !important;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 1.2rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid #f8f9fc;
}

/* Dialog Content */
.inquiry-dialog .p-dialog-content {
  background: #f8f9fc;
  backdrop-filter: blur(12px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 2rem;
  color: #f8f9fc;
}
.inquiry-dialog.p-dialog{
  max-height: 72% !important;
}

/* Labels */
.inquiry-form label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #334155;
  font-size: 0.95rem;
}

/* Inputs */
.input-field {
  border-radius: 10px;
  border: 1px solid #334155;
  padding: 0.75rem;
  font-size: 0.95rem;
  background-color: #f8f9fc;
  color: #334155;
  transition: border 0.3s, box-shadow 0.3s;
}

.input-field:focus {
  border-color: #334155;
  box-shadow: none !important;
}

/* Textarea */
textarea.input-field {
  resize: none;
}

/* Submit Button */
.submit-button {
  
   background: linear-gradient(90deg, #3bb6ba, #0e373e) !important;/* Cyan to Neon Blue */
  border: none;
  font-size: 1rem;
  padding: 0.7rem 2rem;
  border-radius: 30px;
  color: white;
  box-shadow: 0 4px 14px rgba(6, 182, 212, 0.4);
  transition: all 0.3s ease-in-out;
}

.submit-button:hover {
 background: linear-gradient(90deg, #0e373e, #3bb6ba) !important; 
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(59, 130, 246, 0.5);
}

/* Error messages */
.text-danger {
  font-size: 0.8rem;
  margin-top: 4px;
  color: #f87171;
}

/* Close icon */
.p-dialog-header-close-icon {
  border: none !important;
  width: 1.6rem !important;
  height: 1.6rem !important;
  box-sizing: none !important;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  outline: none !important;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:focus-visible{
  box-shadow: none;
}
/* Responsive tweaks */
@media (max-width: 576px) {
  .inquiry-dialog .p-dialog-content {
    padding: 1.5rem 1rem;
  }

  .submit-button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 0 !important;
  }
}
